#recipe_card{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style:ridge;
    border-color: blueviolet;
    border-width: 10px;
    width: 30%;
    height: auto;
    margin: 2%;
    background-color: lightpink;
}

#recipe_card ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#recipe_card_image img { /*id type selector, selects */
    width: 100%;
    height: auto;
    list-style-type: none;
}

#recipe_card a {
    font-weight: bold;
    font-size: x-large;
}

#page_header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-style: outset;
    border-color: green;
    border-width: 15px;
    border-radius: 5%;
}

#page_header img { /*selects for img elements within element #page header*/
    width: 5rem;
    height: auto;
    border-style: groove;
    border-radius: 10%;
    border-color: blueviolet;
}

#recipe_menu {
    background-image: url('images/beans.jpeg');
    background-repeat:repeat;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    background-color: aqua;
    border-style: outset;
    border-color: aquamarine;
    border-radius: 5%;
    border-width: 20px;
}

#recipe_menu li{    /*selects all elements li within id recipe_menu*/
    display: flex;
    justify-content: center; /*centers horizontally */
    align-items: center;    /* centers vertically */
}

#main_content{
    display: flex;
    justify-content: center;
    align-items:baseline;
}

#side_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page_title {

}

.page_title_text {
    padding: 20px;
}

.food_quote {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    text-align: center;
    font-family:cursive

}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
