#recipe_card {
    border-style: dashed;
    border-color: blueviolet;
}

#recipe_card_image {
    width: 200px;
    list-style-type: none;
}

#page_header {
    background-color: greenyellow;
}

body {
    background-color: lightcoral;
    text-align: center;
}
