#recipe_card {
    border-style: dashed;
    border-color: blueviolet;
    width: 40%;
    height: auto;
    margin: 2%
}

#recipe_card_image {
    width: 200px;
    list-style-type: none;
}

#page_header {
    background-color: greenyellow;
}

body {
    background-color: lightcoral;
    text-align: center;
}

li {
    list-style: none;
}
